# {{ ansible_managed }}
# Settings of sdp-siem-sync.service (role siem_sync, ADR 0034 "Rules from git").
SDP_SYNC_URL={{ siem_sync_url }}
SDP_SYNC_REPO={{ siem_sync_repo_url }}
SDP_SYNC_BRANCH={{ siem_sync_branch }}
SDP_SYNC_GIT_PROTOCOLS={{ siem_sync_git_protocols }}
SDP_SYNC_STATE_DIR={{ siem_sync_state_dir }}
SDP_SYNC_FLAG_DIR={{ siem_sync_flag_dir }}
SDP_SYNC_DELETE_CAP={{ siem_sync_delete_cap }}
